.footer {
    /* border-top: 1px solid #eee; */
    background-color: #eee;
    margin: 0 auto;
    padding: 1em 0;
    color: var(--text-color);
    margin-top: 2em;
}

.footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .menu {
    padding: 0;
}

/* Disable list style type for all li inside the header */
.footer li {
    list-style-type: none;
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-copyright {
    margin-top: 3em;
    font-size: 0.9em;
}

.footer ul li {
    font-weight: bold;
    font-size: 1.2em;
    display: inline-grid;
}

.footer ul li a {
    padding-bottom: 1em;
}

.footer ul li ul li {
    font-weight: normal;
    font-size: 1em;
    display: block;
}

.footer ul li ul li a {
    padding-bottom: 0;
}

