.post {     /* Wordpress Class */
    /* background-color: rgb(1, 165, 165);
    background-image: radial-gradient(circle, white, transparent);
    background-size: cover;
    background-blend-mode: soft-light;
    padding: 1em;
    margin: 1em 0; */
}

/* .post:first-child {
    background-color: transparent;
    margin: 0;
    padding: 0;
} */
